<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
      <appSettings>
        <add key="SQLLanguage" value="C# Types"/>
        <add key="SQLDbTarget" value="SqlClient"/>

        <add key="SQLiteLanguage" value="C# (SQLite v3.x)"/>
        <add key="SQLiteDbTarget" value="SQLite.NET v3.x"/>

        <add key="AccessLanguage" value="C# Types"/>
        <add key="AccessDbTarget" value="DbType"/>

        <add key="FirebirdLanguage" value="C#"/>
      <add key="FirebirdDbTarget" value="FirebirdSql"/>
    </appSettings>
</configuration>
